.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    /* good pale color */
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
}
.title-text{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}

.value-text{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.value-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}